
#uploaderCont.container-fluid
    .row.ddHandler
        #dragandrophandler.col-12
            svg.bi.bi-upload(width='1em', viewBox='0 0 16 16', xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd', d='M.5 8a.5.5 0 01.5.5V12a1 1 0 001 1h12a1 1 0 001-1V8.5a.5.5 0 011 0V12a2 2 0 01-2 2H2a2 2 0 01-2-2V8.5A.5.5 0 01.5 8zM5 4.854a.5.5 0 00.707 0L8 2.56l2.293 2.293A.5.5 0 1011 4.146L8.354 1.5a.5.5 0 00-.708 0L5 4.146a.5.5 0 000 .708z', clip-rule='evenodd')
                path(fill-rule='evenodd', d='M8 2a.5.5 0 01.5.5v8a.5.5 0 01-1 0v-8A.5.5 0 018 2z', clip-rule='evenodd')
            span Drag files here or
                label browse for files
                    input(
                        value='browse'
                        type='file'
                        style='display: none;'
                        multiple
                    )

    //.row.fileQueue
    .row.queueSrc
        .col.name
            b
        if showDesc
            .col.desc
                input(
                    class="form-control form-control-sm"
                    type="text"
                    placeholder="Description of file"
                    maxlength="100"
                )
        if options
            .col.options
                select.custom-select.custom-select-sm
                    option(selected) Select this file type
                    each v, k in options
                        option(value=k)= v
        .col-2.remove
            input(
                type="button"
                class="btn btn-sm btn-outline-danger"
                value="Remove"
                data-name
            )
    .row.ulProgress
        //.col.d-none
        .col Uploading...
            .progress
                .progress-bar(role='progressbar', aria-valuemin='0', aria-valuemax='100') 0%
    .row.submit
        .col-12.text-right
            input(
                type="button"
                class="btn btn-primary"
                value="Upload"
            )

